<header>
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      
        <div class="user-info"  fxLayout="row" fxLayoutAlign="none center" fxFlex="20">
            <app-user-credentials></app-user-credentials>
        </div>
    
        <div class="header-items" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80">
            <div>
                <h1 class="section-title">
                    Header title
                </h1>
            </div>

            <div class="buttons margin" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <a class="btn-primary" href="#">Primary button</a>
                </div>
                <div>
                    <a class="btn-secondary" href="#">Search</a>
                </div>
            </div>
        </div>
    </div>
</header>