@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/colors';

button {
    display: inline-block;
    border: none;
}

.full-width {
    width: 83%;
}

.primary {
    height: 40.86px;
    line-height: 0;
    padding: 1.5rem;
    margin: .3rem;
    border-radius: 31.4301px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    background-color: $primary_color;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        background-color: rgb(91, 106, 126);
        cursor: pointer;
    }
}

.secondary {
    height: 40.86px;
    line-height: 3px;
    padding: 1.1rem;
    margin: .5rem .3rem .3rem .3rem;
    border: 1.27688px solid #0092FF;
    border-radius: 20.4301px;
    box-sizing: border-box;
    text-decoration: none;
    color: $medium_grey;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        background-color: #fff;
        cursor: pointer;
    }
}
