.list-item-container {
    background-color: #fff;
    width: 70%;

    .img-container {
        img {
            margin-top: 5px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}