<div class="container margin-left">
    <div class="subtitle">
        SECTION TITLE
    </div>

    <div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div class="centered">
                <img src="../../../assets/img/paper.png" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div class="centered">
                <img src="../../../assets/img/person.png" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
    </div>

    <div class="subtitle">
        SECTION TITLE
    </div>

    <div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div class="centered">
                <img src="../../../assets/img/person.png" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div class="centered">
                <img src="../../../assets/img/person.png" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div class="centered">
                <img src="../../../assets/img/file.png" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div  class="centered">
                <img src="../../../assets/img/billing.png" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
        <div class="margin" fxLayout="row" fxLayoutAlign="start center">
            <div class="centered">
                <img src="../../../assets/img/settings.svg" alt="">
            </div>
            <div>
                <a href="">Section item</a>
            </div>
        </div>
    </div>
</div>