<div class="container" fxLayout="column">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around end">
        <div class="margin">
            <a class="btn-secondary" href="">EN</a>
        </div>
    </div>

    <div class="margin-top" fxFlex="100" fxLayout="column" fxLayoutAlign="space-around center">
        <img class="logo" src="../../../../assets/img/logo.png" alt="design and pitch logo">
    </div>

    <div class="margin-top margin-bottom" fxFlex="100" fxLayout="column" fxLayoutAlign="space-around center">
        <h1 class="title">design
            <span>
                &
            </span>
            pitch
        </h1>
    </div>

    <div class="card-container margin-top" fxFlex="100" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card>
            <div class="padding">
                <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="login()">
                    <div>
                        <input formControlName="name" class="input-field" placeholder="Name" type="text">
                    </div>
                    <div>
                        <input formControlName="password" class="input-field" placeholder="Pass" type="text">
                    </div>
                    <button type="submit" class="btn-primary">
                        Login
                    </button>
                </form>
            </div>
        </mat-card>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="margin">
            <a class="underlined" href=""> Privacy Policy</a>
        </div>

        <div class="margin">
            &copy; DamienuX Limited All rights reserved
        </div>
    </div>
</div>