/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/styles/colors';
@import './assets/styles/fonts.scss';

html {
    height: 100%;

    body {
        height: 100%;
        position: relative;
        background: $light_grey;
        font-family: $nsd_regular, sans-serif;
    }
}

header {
    position: relative;
}

/* ------------- */

/* overriding default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}

ul,
ol,
li {
    list-style: none;
}

//materil margin padding in rem

.margin {
    margin: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}



.padding {
    padding: .5rem;
}

.padding-left {
    padding-left: .5rem;
}

.padding-right {
    padding-right: .5rem;
}

.padding-top {
    padding-top: .5rem;
}

.padding-bottom {
    padding-bottom: .5rem;
}

// custom buttons

.btn-primary {
    display: inline-block;
    height: 40.86px;
    line-height: 0px;
    padding: 1.5rem;
    margin: .3rem;
    border-radius: 31.4301px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    background-color: $primary_color;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        background-color: rgb(91, 106, 126);
        cursor: pointer;
    }
}

.btn-secondary {
    display: inline-block;
    height: 40.86px;
    line-height: 3px;
    padding: 1.1rem;
    margin: .5rem .3rem .3rem .3rem;
    border: 1.27688px solid #0092FF;
    border-radius: 20.4301px;
    box-sizing: border-box;
    text-decoration: none;
    color: $medium_grey;
    background-color: $light_grey;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        background-color: #fff;
        cursor: pointer;
    }
}

// custom input field

.input-field {
    margin: .3rem;
    padding: 1.1rem;
    border-radius: 13px;
    background: $light_grey;
    color: $mixed_grey;
    width: 17rem;
}

//titles, subtitles

.section-title {
    margin: .5rem 0 0 3rem;
    font-size: 2rem;
    font-family: $nsd_bold;
    color: $dark_grey;
}

.subtitle {
    font-size: 1rem;
    font-family: $nsd_bold;
    color: $mixed_grey;
}


/*  material design custom changes*/

// mat-card box-shadow
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 13px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(13, 143, 249, 0.5), 0 4px 4px 0 rgba(13, 143, 249, 0.23);
    -moz-box-shadow: 0 3px 13px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(13, 143, 249, 0.5), 0 4px 4px 0 rgba(13, 143, 249, 0.23);
    -webkit-box-shadow: 0 3px 13px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(13, 143, 249, 0.5), 0 4px 4px 0 rgba(13, 143, 249, 0.23);
}